body{
    background: rgb(14, 1, 56);
    color: white;
font-family: 'Times New Roman', Times, serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0px;
}
button{
    background: red;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}